

.nav {
    background-color: rgb(92, 92, 252);
    color: white;
    border-bottom-left-radius: 2rem;
}
.nav img{
    border-radius: 90%;
    margin: 0.5rem;
}
.nav h3 {
    text-align: center;
    margin-top: 1rem;
}